/* ======================= Body classes ======================= */
html {
    height: 100%;
}

body {
    background-color: #CCCCCC;
    height: 100%;
    display: flex;
    flex-direction: column;
}

ul, input, li {
    font-size: 20px;
    line-height: 1.1;
}

p {
    font-size: 16px;
    line-height: 1.5;
}

h2 {
    font-size: 30px;
    margin: 0 100px 0 100px;
}

h3 {
    font-size: 26px;
    margin: 50px 0 0 0;
}

h4 {
    font-size: 22px;
}

ul.spaced > li {
    margin: 0 0 10px 0;
}

a:link, a:visited {
    color: blue;
    text-decoration: none;
}

a:hover {
    color: red;
    text-decoration: underline;
}

.medium {
    font-size: 23px;
}

.content {
    flex: 1;
    margin: 120px 100px 120px 100px;
}

.paper {
    margin: 20px 100px 20px 100px;
    background-color: #FFFFFF;
}

.entry {
    margin: 20px;
    padding: 50px 50px 30px 50px;
    background-color: #b5b0ed;
}

.description {
    margin: 20px;
    padding: 20px 50px 30px 50px;
    background-color: #b5b0ed;
}

.column {
  float: left;
  width: 50%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.square {
    width: 50px;
    height: 50px;
    background-color: #b5b0ed;
}

.line {
    width: 500px;
    height: 500px;
    background-color: #FFFFFF;
}

.inputBorder {
    display: inline-block;
    border: 2px solid #888888;
}

/* ======================= Header classes ======================= */
#image {
    width: 100%;
    height: 250px;
    background: #000000 url('stars.jpg') repeat; /*By Jakub Novacek*/
    background-position: 0% 25%;
    background-size: 100%;
}

ul.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
}

ul.navbar li.right {
    float: right;
}

ul.navbar li:not(.right) {
    float: left;
}

ul.navbar li a {
    display: block;
    color: white;
    padding: 14px 16px;
    text-align: center;
    text-decoration: none;
}

li.active {
    background-color: #3B7FED
}

ul.navbar li:not(.active) a:hover {
    background-color: #111111;
}

ul.navbar li ul {
    position: absolute;
    width: 170px;
    background-color: #666666;
    display: none;
    margin: 0;
    padding: 0;
}

ul.navbar li:hover ul{
    display: block;
}

ul.navbar li ul li {
    background: #666666;
    width: 100%;
    display: block;
}

ul.navbar li ul li:hover {
    background: #111111;
}

ul.navbar li ul li a {
    display: block !important;
}

/* ======================= Footer classes ======================= */
/*footer itself*/
#footer {
    position: static;
    bottom: 0;
    height: 50px;
}

div.footer {
    height: 50px;
    width: 100%;
    background-color: #333333;
}
