@font-face {
    font-family: magicPixel;
    src: local('font/magic-pixel/Magic-Pixel.ttf'),
         url('font/magic-pixel/Magic-Pixel.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: magicPixelBold;
    src: local('font/magic-pixel/Magic-Pixel-Bold.ttf'),
         url('font/magic-pixel/Magic-Pixel-Bold.ttf');
    font-weight: bold;
    font-style: normal;
}

/* ======================= Body classes ======================= */
html {
    height: 100%;
}

body {
    background-color: #CCCCCC;
    height: 100%;
    display: flex;
    flex-direction: column;
}

p, ul, input, li{
    font: 20px magicPixel;
    line-height: 1.1;
}

h2 {
    font: 32px magicPixelBold;
}

h3 {
    font: 25px magicPixelBold;
}

ul.spaced > li {
    margin: 0 0 10px 0;
}

a:link, a:visited {
    color: blue;
    text-decoration: none;
}

a:hover {
    color: red;
    text-decoration: underline;
}

.medium {
    font-size: 23px;
}

.content {
    flex: 1;
    margin: 0 70px 0 70px;
}

.paper {
    margin: 20px 100px 20px 100px;
    background-color: #FFFFFF;
}

.entry {
    margin: 20px;
    padding: 50px 50px 30px 50px;
    background-color: #b5b0ed;
}

.description {
    margin: 20px;
    padding: 20px 50px 30px 50px;
    background-color: #b5b0ed;
}

#formInput {
    width: 600px;
}

#game {
    border: 2px solid #333333;
}

#julia {
    border: 2px solid #333333;
}

#mand {
    border: 2px solid #333333;
}

#tesseract {
    width: 500px;
    height: auto;
}

#livrejam {
  height: auto;
  width: 500px;
}

#hackathon {
  height: auto;
  width: 500px;
}

#ludumdare {
  height: auto;
  width: 500px;
}

#perfil {
  height: auto;
  width: 300px;
}

.column {
  float: left;
  width: 50%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.square {
    width: 50px;
    height: 50px;
    background-color: #b5b0ed;
}

.line {
    width: 500px;
    height: 500px;
    background-color: #FFFFFF;
}

@media (max-width: 1000px) {
    .column {
        width: 100%;
    }

    #livrejam {
      height: auto;
      width: 100%;
    }

    #hackathon {
      height: auto;
      width: 100%;
    }

    #ludumdare {
      height: auto;
      width: 100%;
    }
}

.inputBorder {
    display: inline-block;
    border: 2px solid #888888;
}

.pixelated {
    image-rendering: optimizeSpeed;             /* Legal fallback */
    image-rendering: -moz-crisp-edges;          /* Firefox        */
    image-rendering: -o-crisp-edges;            /* Opera          */
    image-rendering: -webkit-optimize-contrast; /* Safari         */
    image-rendering: optimize-contrast;         /* CSS3 Proposed  */
    image-rendering: crisp-edges;               /* CSS4 Proposed  */
    image-rendering: pixelated;                 /* CSS4 Proposed  */
    -ms-interpolation-mode: nearest-neighbor;   /* IE8+           */
}

/* ======================= Header classes ======================= */
#image {
    width: 100%;
    height: 250px;
    background: #000000 url('assets/prism.jpg') center repeat;
    background-size: 100%;
}

ul.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
}

ul.navbar li {
    float: left;
}

ul.navbar li a {
    display: block;
    color: white;
    padding: 14px 16px;
    text-align: center;
    text-decoration: none;
}

li.active {
    background-color: #3B7FED
}

ul.navbar li:not(.active) a:hover {
    background-color: #111111;
}

ul.navbar li ul {
    position: absolute;
    width: 170px;
    background-color: #666666;
    display: none;
    margin: 0;
    padding: 0;
}

ul.navbar li:hover ul{
    display: block;
}

ul.navbar li ul li {
    background: #666666;
    width: 100%;
    display: block;
}

ul.navbar li ul li:hover {
    background: #111111;
}

ul.navbar li ul li a {
    display: block !important;
}

/* ======================= Footer classes ======================= */
/*footer itself*/
#footer {
    position: static;
    bottom: 0;
    height: 50px;
}

/*footer lists*/
ul.footer {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
}

ul.footer li {
    display: block;
    color: white;
    text-align: left;
    padding: 14px 16px;
    text-decoration: none;
    float: left;
}

/*footer table*/
table.footer {
    width: 100%;
    background-color: #333333;
}
